<!DOCTYPE html>
<html>
<head>
  <title>Hello World</title>
  <link rel="stylesheet" href="style.css"/>
</head>
<body>
<div>
  <h2>Hi, you have visited us number of times: <%= visits %></h2>
</div>
</body>
</html>
