<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<form method="post">
  <fieldset>
    <h2>Login</h2>
    <input name="username" type="text">
    <input name="password" type="password">
    <button type="submit">Login</button>
  </fieldset>
</form>
</body>
</html>
