<!DOCTYPE html>
<html>
<head>
  <title>Register user</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
  <form method="post">
    <fieldset>
      <h2>Register user</h2>
      <input name="username">
      <input name="password" type="password">
      <button type="submit">Register</button>
    </fieldset>
  </form>
</body>
</html>
